@font-face {
    font-family: WildNature;
    src: url(/home/ann1/michelm/projet/Font/WildNature.ttf);
}

body
{
	color: white;
	background-color: black;
	word-wrap: break-word;
	margin: 0px;
}

header
{
	background-image: url(/home/ann1/michelm/projet/images/foret.jpg);
	background-repeat: no-repeat;
	background-attachment: static;
	height: 100vh;
}

h1
{
	margin: 0;
	font-family: WildNature;
	font-size: 500%;
	text-align: center;
}




