@font-face {
    font-family: WildNature;
    src: url('../Font/WildNature.ttf');
}

@font-face
{
    font-family: Thanksyou;
    src: url('../Font/ty.ttf');
}

@font-face
{
	font-family: NameSmile;
	src: url('../Font/NameSmile.otf');
}

@font-face
{
  font-family: Boizenburg;
  src: url('../Font/Boizenburg.ttf');
}

@font-face
{
  font-family: MellaNissa;
  src: url('../Font/BlackGround.ttf');
}

body
{
	color: white;
	background-color: black;
	word-wrap: break-word;
	margin: 0px;
	height: 100%;
	width: 100%;
	max-width: 100%;
	overflow-x: hidden !important;
	overflow-y: auto;

}

header
{
	background-image: url('../images/foret.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	min-height: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

h1
{
	margin: 0;
	font-family: WildNature;
	font-size: 750%;
	text-align: center;
	z-index: 5;
}

h4
{
	margin: 0.5%;
	font-size: 175%;
	font-family: Thanksyou;
}

.snow
{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;

}

.snow__layer
{
	position: absolute;
	left: -100px;
	right: -100px;
	animation: wind 1s cubic-bezier(0.51,0.01,0.63,0.99) infinite alternate;
	perspective: 100px;
}

.snow__fall
{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 2000px;
	background: url('../images/1.png');
	animation: fall 10s linear infinite;
	opacity: 0.5;
}

.snow__layer:nth-child(1)
{
	animation-duration: 35s;
	opacity: 0.7;
}

.snow__layer:nth-child(1) .snow__fall
{
	background: url('../images/2.png');
	transform: translateZ(25px);
	animation-name: fallblur;
	background-size: 250px;
}


.snow__layer:nth-child(2) .snow__fall
{
	background: url('../images/3.png');
	animation-timing-function: ease;
}

.snow__fall:nth-child(2)
{
	animation-duration: 10s;
	background-size: 250px;
	opacity: 0.3;
}

.snow__fall:nth-child(2)
{
	animation-duration: 20s;
	background-size: 500px;
}

.snow__layer:nth-child(4) .snow_fall
{
	animation-duration: 5s;
	transform: translateZ(50px);
	animation-name: falllight;
}

@keyframes fall
{
	from
	{
		transform: translateY(-1000px);
	}
}

@keyframes falllight
{
	from
	{
		transform: translateY(-1000px) translateZ(50px);
	}
}

@keyframes fallblur
{
	from
	{
		transform: translateY(-1000px) translateZ(25px);
	}
}

@keyframes wind
{
	to
	{
		transform: translateX(50px);
	}
}


.nav a {
  color: black;
  text-decoration: none;
  display: block;
  width: 100%;
  position: relative;
  height: 14%;
}

.nav > a:not(:first-child)
{
	opacity: 0;
}


.nav {
  padding: 25px;
  height: 100vh;
  max-height: 100vh;
  padding-top: 40px;
}



.menu
{
	width: 75%;
	max-height: 100vh;
}

#wrap {
  font-family: NameSmile;
  font-size: 21px;
  margin: 0;
  display: flex;
  color: #FFF;
  transition: transform .5s cubic-bezier(.25, .1, .25, 1);
  transform-origin: top left;
  z-index: 500;
}

#wrap:not(:target) {
  transform: translate3d(-34%, 0, 0);
  position: absolute;
  top: 0;
  left: 10px;
}



#wrap:target .menu{
  background-color: white;
  max-height: 100vh;
}


#wrap:target .nav{
  transform: skewX(7deg);
}


#open,
#close {
  height: 44px;
  text-align: right;
  display: block;
  margin-right: -30px;
}

#wrap:target #open,
#wrap:not(:target) #close {
  display: none;
}

#close
{
  position: absolute;
  top: 1%;
}

#wrap:target #open {
  display: none;
}


#wrap:target {
  transform: translate3d(0, 0, 0)  skewX(-7deg);
  line-height: 8;
  position: fixed;
  top:0;
  left: 0;
  width: 50%; /* penser a augmenter pour le format telephone*/ 
}

#wrap:target .nav > a:not(:first-child)
{
	opacity: 1;
	transition: all .2s ease-in 0s;
}

#wrap:target .nav > a:nth-child(3) {
  transition-delay: .3s;
}
#wrap:target .nav > a:nth-child(4) {
  transition-delay: .4s;
}
#wrap:target .nav > a:nth-child(5) {
  transition-delay: .5s;
}
#wrap:target .nav > a:nth-child(6) {
  transition-delay: .6s;
}
#wrap:target .nav > a:nth-child(7) {
  transition-delay: .7s;
}
#wrap:target .nav > a:nth-child(8) {
  transition-delay: .8s;
}

#wrap:target .nav > a:nth-child(1) {
  height: 10%;

}


.center
{
  margin: 0 auto;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 999;
  position: absolute;
  bottom: 5%;
  right: 0;
  left: 0;
}

.mouseLayout
{
  width: 100px;
  height: 150px;
  background: transparent;
  border: 8px solid #fff;
  border-radius: 50px;
  position: relative;

}

.mouseLayout::before
{
  content: '';
  border: 8px solid #fff;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%,-50%);
  border-radius: 50%;
  animation: drop 1s linear infinite;
}

.mouseLayout::after
{
  content: '';
  border: 6px solid #fff;
  height: 20px;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%,-50%);
  border-radius: 50%;
  animation: all 2s ease;
}

@keyframes drop
{
  0%
  {
    transform: translate(-50%, 30px);
    opacity: 0;
  }
  60%
  {
    transform: translate(-50%, 70px);
    opacity: .8;
  }
  100%
  {
    transform: translate(-50%, 80px);
    opacity: 1;
  }
}

.text
{
  margin-top: 25px;
  font-family: 'open sans', sans-serif;
  font-size: 1em;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-weight: 700;
}

a
{
	text-decoration: none;
}


main
{
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
}

main .container
{
  position: relative;
  height: auto;
  width: 50%;
  margin: auto auto;
  padding: 45px 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2vh;
  grid-auto-flow: dense;
  text-align: center;

}

main .container .Box
{
  position: relative;
  height: 20vh;
  width: 100%;
  overflow: hidden;
  border: 4px solid white;
  border-radius: 20px;
  word-wrap: break-word;
  display: flex;
  align-items: center;
  justify-content: center;
}

main .container .Box:nth-child(1)
{
  grid-row-start: span 2;
  height: 43vh;
  background-color: rgba(238,200,0,.66);

}

main .container .Box:nth-child(2)
{
  grid-column-start: span 2;
  background-color: rgba(125,83,0,.66);
}

main .container .Box:nth-child(4)
{
  grid-row-start: span 2;
  height: 43vh;
  background-color: rgba(255,127,0,.66);
}

main .container .Box:nth-child(5)
{
  grid-column-start: span 2;
  background-color: rgba(71,47,0,.66);
}

main .container .Box:nth-child(3)
{
  background-color: rgba(32, 167,0,.66);
}

@media only screen and (max-width: 1000px)
{
  main .container
  {
    display: block;
    width: 90%;
    height: 10%;
  }

  .Box
  {
    margin: 5% auto;
  }

  main .container .Box:nth-child(1)
  {
    height: 20vh;
  }

  main .container .Box:nth-child(4)
  {
    height: 20vh; 
  }

  main .container .Box:nth-child(4) p, main .container .Box:nth-child(1) p
  {
    height: 20vh; 
    margin-top: 10%;
  }

  main .container .Box:nth-child(4) h3, main .container .Box:nth-child(1) h3
  {
    height: 20vh; 
    margin-top: 2%;
  }


  main
  {
  	display: block;
    height: 150vh;
  }

  main > h2
  {
    display: none;
  }

  header .mouseLayout
  {
    display: none;
  }

  #wrap:target
  {
    width: 100%;
  }
}


.Box img
{
	overflow: hidden;
	border-radius: 50%;
	width: 170px;
	height: 170px;
	background-color: #412200;
	margin: 0 auto;
	position: absolute;
  transition-duration: .2s;
}



.Box .Paragraphe
{
  opacity: 0;
  transition-duration: .3s;
  color: black;
  height: 100%;
  display: flex;
  text-align: justify;
  justify-content: center;
}

.Box .ParagrapheBis p
{
  text-align: justify;
  margin: 0 10px;
}

.Box .ParagrapheBis h3
{
  text-align: center;
  margin-top: 2%;
  margin-bottom: 2%; 
  font-family: Boizenburg;
  font-size: 150%;
}

.Box .ParagrapheBis
{
  opacity: 0;
  transition-duration: .3s;
}

.Box .Paragraphe h3
{
  top: 10px;
  position: absolute;
  top: 0;
  font-family: Boizenburg;
  font-size: 150%;
}

.Box .Paragraphe p
{
  position: relative;
  margin: 35% 10px 0;
}

.Box:nth-child(n):hover img
{
	opacity: 0;
  transition-duration: .2s;
}

.Box:nth-child(n):hover .Paragraphe, .Box:nth-child(n):hover .ParagrapheBis
{
  opacity: 1;
  transition-duration: .3s;
}

.Box:nth-child(n):hover
{
  border: 4px solid rgba(255,255,255, .5);
}

main
{
  background: white   ;
}

.transition
{
  display: block;
  border: 2px solid  #412200 ;

}

footer
{
  height: 250px;
  display: block;
  bottom: 0;
  width: 100%;
  background-color: black;
}

main > h2
{
  position: fixed;
  top: 2%;
  right: 2%;
  color: hsl(324, 70%, 45%);
  animation: wheelHueColor 10s infinite;
  font-family: MellaNissa;
}

@keyframes wheelHueColor {
    from, to { color: hsl(324, 70%, 45%); }
    10%      { color: hsl(360, 65%, 45%); }
    20%      { color: hsl( 36, 80%, 45%); }
    30%      { color: hsl( 72, 75%, 35%); }
    40%      { color: hsl(108, 65%, 35%); }
    50%      { color: hsl(144, 75%, 35%); }
    60%      { color: hsl(180, 75%, 35%); }
    70%      { color: hsl(216, 60%, 45%); }
    80%      { color: hsl(252, 65%, 50%); }
    90%      { color: hsl(288, 60%, 40%); }
}
