@font-face {
    font-family: WildNature;
    src: url('../Font/WildNature.ttf');
}

@font-face
{
    font-family: Thanksyou;
    src: url('../Font/ty.ttf');
}

@font-face
{
	font-family: NameSmile;
	src: url('../Font/NameSmile.otf');
}

body
{
	color: white;
	background-color: black;
	word-wrap: break-word;
	margin: 0px;
	height: 100%;
	width: 100%;
	max-width: 100%;
	overflow-x: hidden !important;
	overflow-y: auto;

}

header
{
	background-image: url('../images/foret.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	min-height: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

h1
{
	margin: 0;
	font-family: WildNature;
	font-size: 750%;
	text-align: center;
	z-index: 5;
}

h4
{
	margin: 0.5%;
	font-size: 175%;
	font-family: Thanksyou;
}

.snow
{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;

}

.snow__layer
{
	position: absolute;
	left: -100px;
	right: -100px;
	animation: wind 1s cubic-bezier(0.51,0.01,0.63,0.99) infinite alternate;
	perspective: 100px;
}

.snow__fall
{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 2000px;
	background: url('../images/1.png');
	animation: fall 10s linear infinite;
	opacity: 0.5;
}

.snow__layer:nth-child(1)
{
	animation-duration: 35s;
	opacity: 0.7;
}

.snow__layer:nth-child(1) .snow__fall
{
	background: url('../images/2.png');
	transform: translateZ(25px);
	animation-name: fallblur;
	background-size: 250px;
}


.snow__layer:nth-child(2) .snow__fall
{
	background: url('../images/3.png');
	animation-timing-function: ease;
}

.snow__fall:nth-child(2)
{
	animation-duration: 10s;
	background-size: 250px;
	opacity: 0.3;
}

.snow__fall:nth-child(2)
{
	animation-duration: 20s;
	background-size: 500px;
}

.snow__layer:nth-child(4) .snow_fall
{
	animation-duration: 5s;
	transform: translateZ(50px);
	animation-name: falllight;
}

@keyframes fall
{
	from
	{
		transform: translateY(-1000px);
	}
}

@keyframes falllight
{
	from
	{
		transform: translateY(-1000px) translateZ(50px);
	}
}

@keyframes fallblur
{
	from
	{
		transform: translateY(-1000px) translateZ(25px);
	}
}

@keyframes wind
{
	to
	{
		transform: translateX(50px);
	}
}


.nav a {
  color: black;
  text-decoration: none;
  display: block;
  width: 100%;
  position: relative;
  height: 14%;
}

.nav > a:not(:first-child)
{
	opacity: 0;
}


.nav {
  padding: 25px;
  height: 100vh;
  max-height: 100vh;
}



.menu
{
	width: 75%;
	max-height: 100vh;
}

#wrap {
  font-family: NameSmile;
  font-size: 21px;
  margin: 0;
  display: flex;
  color: #FFF;
  transition: transform .5s cubic-bezier(.25, .1, .25, 1);
  transform-origin: top left;
  z-index: 500;
}

#wrap:not(:target) {
  transform: translate3d(-34%, 0, 0);
  position: absolute;
  top: 0;
  left: 10px;
}



#wrap:target .menu{
  background-color: white;
  max-height: 100vh;
}


#wrap:target .nav{
  transform: skewX(7deg);
}


#open,
#close {
  height: 44px;
  text-align: right;
  display: block;
  margin-right: -30px;
}

#wrap:target #open,
#wrap:not(:target) #close {
  display: none;
}

#wrap:target #open {
  display: none;
}


#wrap:target {
  transform: translate3d(0, 0, 0)  skewX(-7deg);
  line-height: 8;
  position: fixed;
  top:0;
  left: 0;
  width: 50%; /* penser a augmenter pour le format telephone*/ 
}

#wrap:target .nav > a:not(:first-child)
{
	opacity: 1;
	transition: all .2s ease-in 0s;
}

#wrap:target .nav > a:nth-child(3) {
  transition-delay: .3s;
}
#wrap:target .nav > a:nth-child(4) {
  transition-delay: .4s;
}
#wrap:target .nav > a:nth-child(5) {
  transition-delay: .5s;
}
#wrap:target .nav > a:nth-child(6) {
  transition-delay: .6s;
}
#wrap:target .nav > a:nth-child(7) {
  transition-delay: .7s;
}
#wrap:target .nav > a:nth-child(8) {
  transition-delay: .8s;
}


.center
{
  margin: 0 auto;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 999;
  position: absolute;
  bottom: 5%;
  right: 0;
  left: 0;
}

.mouseLayout
{
  width: 100px;
  height: 150px;
  background: transparent;
  border: 8px solid #fff;
  border-radius: 50px;
  position: relative;

}

.mouseLayout::before
{
  content: '';
  border: 8px solid #fff;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%,-50%);
  border-radius: 50%;
  animation: drop 1s linear infinite;
}

.mouseLayout::after
{
  content: '';
  border: 6px solid #fff;
  height: 20px;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%,-50%);
  border-radius: 50%;
  animation: all 2s ease;
}

@keyframes drop
{
  0%
  {
    transform: translate(-50%, 30px);
    opacity: 0;
  }
  60%
  {
    transform: translate(-50%, 70px);
    opacity: .8;
  }
  100%
  {
    transform: translate(-50%, 80px);
    opacity: 1;
  }
}

.text
{
  margin-top: 25px;
  font-family: 'open sans', sans-serif;
  font-size: 1em;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-weight: 700;
}

a
{
	text-decoration: none;
}