*{
  margin: 0;
  padding: 0;
  font-family: "montserrat",sans-serif;
}


body
{
  max-height: 100vh;
}



.border{
  width: 100px;
  height: 10px;
  background: #34495e;
  margin: 40px auto;
  position: absolute;
  top: 2%;
}


section h1, .footer
{
  display: none;
}


/* Formulaire */ 

.contact-section{
  height: 100vh;
  float: right;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.contact-section h1{
  color: #ddd;
  position: absolute;
  top: 1%;
}


.contact-form{
  max-width: 600px;
  padding: 0 10px;
  overflow: hidden;
  margin-top: 8%;
}

.contact-form-text{
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin: 16px 0;
  border: 0;
  background: #111;
  padding: 20px 40px;
  outline: none;
  color: #ddd;
  transition: 0.5s;
}
.contact-form-text:focus{
  box-shadow: 0 0 10px 4px #34495e;
}
textarea.contact-form-text{
  resize: none;
  height: 120px;
}
.contact-form-btn{
  float: right;
  border: 0;
  background: #34495e;
  color: #fff;
  padding: 12px 50px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.5s;
}
.contact-form-btn:hover{
  background: #2980b9;
}

input
{
  -webkit-appearance: none;
}

input[type=number] {
  -moz-appearance:textfield;
}

label
{
  color: #ddd;
}

section
{
  display: none;
}
/* Menu Burger */

header
{
  width: 50%;
  height: 100vh;
  position: absolute;
  transform: skewX(-15deg);
  transform-origin: top right;
  border-right: 10px solid black;
  overflow: hidden;

}

.header
{
  width: 100%;
  height: 100%;
  background: url('../images/foret.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  transform: skewX(15deg);
  transform-origin: top right;
  display: flex;
  align-items: center;
  justify-content: center;
}


.nav a {
  color: black;
  text-decoration: none;
  display: block;
  width: 100%;
  position: relative;
  height: 14%;
}

.nav > a:not(:first-child)
{
  opacity: 0;
}


.nav {
  padding: 25px;
  height: 100vh;
  max-height: 100vh;
}



.menu
{
  width: 75%;
  max-height: 100vh;
  text-align: center;
}

#wrap, #flexburger {
  font-family: NameSmile;
  font-size: 21px;
  margin: 0;
  display: flex;
  color: #FFF;
  transition: transform .5s cubic-bezier(.25, .1, .25, 1);
  transform-origin: top left;
  z-index: 500;
}

#wrap:not(:target), #flexburger:not(:target) {
  transform: translate3d(-34%, 0, 0);
  position: absolute;
  top: 0;
  left: 10px;
}



#wrap:target .menu, #flexburger:target .menu{
  background-color: white;
  max-height: 100vh;
}

#flexburger:target .menu
{
  transform: skewX(-15deg);
  transform-origin: top left;
}


#wrap:target .nav, #flexburger:target .nav{
  transform: skewX(15deg);
}


#open,
#close {
  height: 44px;
  text-align: right;
  display: block;
  margin-right: -30px;
}

#wrap:target #open,
#wrap:not(:target) #close,
#flexburger:target #open,
#flexburger:not(:target) #close{
  display: none;
}


#wrap:target, #flexburger:target {
  transform: translate3d(0, 0, 0);
  line-height: 8;
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
}

#wrap:target .nav > a:not(:first-child), #flexburger:target .nav > a:not(:first-child)
{
  opacity: 1;
  transition: all .2s ease-in 0s;
}

#wrap:target .nav > a:nth-child(3), #flexburger:target .nav > a:nth-child(3) {
  transition-delay: .3s;
}
#wrap:target .nav > a:nth-child(4),#flexburger:target .nav > a:nth-child(4) {
  transition-delay: .4s;
}
#wrap:target .nav > a:nth-child(5),#flexburger:target .nav > a:nth-child(5) {
  transition-delay: .5s;
}
#wrap:target .nav > a:nth-child(6),#flexburger:target .nav > a:nth-child(6) {
  transition-delay: .6s;
}
#wrap:target .nav > a:nth-child(7),#flexburger:target .nav > a:nth-child(7) {
  transition-delay: .7s;
}
#wrap:target .nav > a:nth-child(8),#flexburger:target .nav > a:nth-child(8) {
  transition-delay: .8s;
}

#wrap:target .nav > a:nth-child(1),#flexburger:target .nav > a:nth-child(1) {
  height: 10%;
}

#close
{
  position: absolute;
  top: 1%;
}

svg
{
  transform: skewX(15deg);
}
